<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<button type="button" (click)="toggleSidebar()" class="burger" id="sidebar-burger-w-500px"
    style="background-color: #242424;"></button>

<div class="background" id="sidebar-background-w-500px"></div>
<aside class="sidebar" id="sidebar-sidebar-w-500px">
    <button type="button">
        <i class="material-symbols-outlined">home</i>
        <span>Home</span>
    </button>
    <div>
        <button type="button">
            <i class="material-symbols-outlined">search</i>
            <span>Explorer</span>
        </button>
        <button type="button">
            <i class="material-symbols-outlined">settings</i>
            <span>Settings</span>
        </button>
        <button type="button">
            <i class="material-symbols-outlined">account_circle</i>
            <span>Account</span>
        </button>
    </div>
    <button type="button">
        <i class="material-symbols-outlined">logout</i>
        <span>Logout</span>
    </button>
</aside>
